.jumbotron{
    background-color: rgb(63, 83, 168);
    color: whitesmoke;;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 5px 0px 5px 0px; 
}

footer{
    padding: 10px 10px 0 10px;   
    background-color: rgb(63, 83, 168);    
    margin-bottom: 0px;
    margin-top: 10px;
     
}
.color-icon-social{
    color: whitesmoke;
}

/*Flex: Urilizar esta propieda en el archivo css, 
        YA NO necesita especificar en el HTML el ancho (col-4) de la columna, 
        porque lo estamos definiendo conla propiedad flex.
 1 Da la orden que el ancho este intacto, 2 da la orden que cada auno de los items puede ocupar hast el doble de ancho
 150px especifica cual es el ancho definido
*/
.card-hotel{
    flex:1 150px ;
    padding: 2px 5px 2px 5px; /* Funciona como si fuera un reloj, arrancamos por el top y sigue en sentido horario, top, right, bottom, left*/
    margin-top: 10px;
}

.btn-reserve{
    width: 100%;
}

.footer-address-icon{
    padding-right: 10px;  /* Dar distancia al icono y el texto.*/
}
.footer-info-adicional{
    color: whitesmoke;
}
