.jumbotron{
    background-color: rgb(63, 83, 168);
    color: whitesmoke;;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 5px 0px 5px 0px; 
}

footer{
    padding: 0px 0px 0px 0px; 
    background-color: rgb(63, 83, 168);
    color: whitesmoke;
    margin-bottom: 0px;
    margin-top: 0px;    

}

/*Flex: Urilizar esta propieda en el archivo css, 
        YA NO necesita especificar en el HTML el ancho (col-4) de la columna, 
        porque lo estamos definiendo conla propiedad flex.
 1 Da la orden que el ancho este intacto, 2 da la orden que cada auno de los items puede ocupar hast el doble de ancho
 150px especifica cual es el ancho definido
*/
.card-hotel{
    flex:1 150px ;
    padding: 5px 0px 5px 6px; /* Funciona como si fuera un reloj, arrancamos por el top y sigue en sentido horario, top, right, bottom, left*/
}

.btn-reserve{
    width: 100%;
}
